google-cloud-aiplatform>=1.112.0
google-generativeai
langchain-google-vertexai
langchain-groq
langgraph
fastapi
uvicorn
google-api-python-client
beautifulsoup4
requests
psycopg2-binary
python-dotenv
langchain-core
beautifulsoup4
requests
pydantic
